pyrogram==2.0.106  # Use the latest stable version available
httpx==0.23.3
pymongo==4.0.1
python-dotenv==0.20.0
tgcrypto  # Add this for better performance
dnspython  # Required for mongodb+srv
Flask==2.3.2  # Specify the version of Flask you want to use
gunicorn==20.1.0
